<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/icon/favicon.ico}" href="../../../../favicon.ico">

    <title>登录系统</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}"
          href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/signin.css}" href="signin.css" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-signin" action="index.html" th:action="@{/user/login}" method="post">
    <img class="mb-4" th:src="@{/icon/favicon.ico}"
         src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="50"
         height="50">
    <h1 class="h3 mb-3 font-weight-normal" th:text="#{login.tip}">Please sign in</h1>
    <p style="color: crimson" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
    <label for="inputEmail" class="sr-only" th:text="#{login.username}">Email address</label>
    <input type="email" name="username" id="inputEmail" class="form-control"
           placeholder="Email address" th:placeholder="#{login.username}" required autofocus>
    <label for="inputPassword" class="sr-only" th:text="#{login.password}">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control"
           placeholder="Password" th:placeholder="#{login.password}" required>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"/> [[#{login.remember}]]
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{login.btn}">Sign in
    </button>
    <p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p>
    <!--href配置国际化后地址指向还是指向当前页面-->
    <a class="btn btn-sm" th:href="@{login.html(l=zh_CN)}">中文</a>
    <a class="btn btn-sm" th:href="@{login.html(l=en_US)}">English</a>
</form>
</body>
</html>
